@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester");

.cursive {
  font-family: "Pinyon Script", cursive;
}

.sans {
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.underline {
  border-bottom: 1px solid #777;
  width: 85%;
  margin: 0px auto;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.pm-empty-space {
  height: 40px;
  width: 100%;
}

.pm-certificate-container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #618597;
  padding: 30px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /*background: -webkit-repeating-linear-gradient(
    45deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );
  background: repeating-linear-gradient(
    90deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );*/
}

.outer-border {
  width: 794px;
  height: 594px;
  position: absolute;
  left: 50%;
  margin-left: -397px;
  top: 50%;
  margin-top: -297px;
  border: 2px solid #fff;
}

.inner-border {
  width: 730px;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -365px;
  top: 50%;
  margin-top: -265px;
  border: 2px solid #fff;
}

.pm-certificate-border {
  position: relative;
  width: 720px;
  height: 520px;
  padding: 0;
  border: 1px solid #e1e5f0;
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
  left: 50%;
  margin-left: -360px;
  top: 50%;
  margin-top: -260px;
  text-align: center;
}
.pm-certificate-block {
  width: 650px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  top: 70px;
  margin-top: 0;
}

.pm-certificate-header {
  margin-bottom: 10px;
}

.pm-certificate-title {
  position: relative;
  top: 40px;
}
.pm-certificate-title h2 {
  font-size: 34px !important;
}

.pm-certificate-body {
  padding: 20px;
}
.pm-name-text {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}

.pm-earned {
  margin: 15px 0 20px;
}

.pm-earned-text {
  font-size: 20px;
  margin: 10px 0px 0px;
}

.complete p:first-child {
  font-size: 20px;
  margin: 70px 0px 0px;
}

.pm-credits-text {
  font-size: 15px;
  margin: 5px 0px;
}

.pm-certified {
  font-size: 12px;
}
.pm-certified .underline {
  margin-bottom: 5px;
}

.pm-certificate-footer {
  width: 650px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  bottom: -105px;
}

.certificate-container {
  position: relative;
  width: 880px;
  box-sizing: border-box;
  /* height: 600px; */
  background-color: #618597;
  padding: 30px 0px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.outer-border-line {
  width: 95%;
  margin: 0px auto;
  border: 2px solid #fff;
  height: 100%;
  padding: 30px 0px;
}

.inner-border-line {
  width: 95%;
  margin: 0px auto;
  border: 2px solid #fff;
  height: 100%;
}

.certificate-body {
  background-color: white;
  width: 99%;
  margin: 5px auto !important;
  padding: 0px;
  height: 100%;
  padding-top: 50px;
}

.certificate-body .title {
  margin: 0px !important;
  font-size: 30px !important;
}

.certificate-wrapper {
  margin-top: 90px;
}

.signature {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 90px auto 0px;
  padding-bottom: 50px;
  align-items: center;
}

.sign {
  width: 45%;
}

.sign img {
  width: 90%;
}

.download {
  margin-left: 20px;
  font-size: 20px;
}

.cert-container {
  display: flex;
  align-items: center;
}
